[Unit]
Description=Springpetclinic service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/java -jar /home/ubuntu/spring-petclinic-3.0.0-SNAPSHOT.jar
SuccessExitStatus=101
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target